<div><a href="javascript:;" ng-click="login()">Login</a> | <a href="javascript:;" ng-click="signup()">Signup</a></div>

<div class="login" ng-if="isloginPage">
    <form>
        <p><b>Email: </b><input type="email" placeholder="email" ng-model="logIn.email" /></p>
        <p><b>Password: </b><input type="password" placeholder="password" ng-model="logIn.password" /></p>
        <p><input type="button" value="login" ng-click="loginForm()" /></p>
    </form>
</div>

<div class="register" ng-if="isSignPage">
    <form>
        <p><b>Username: </b><input type="username" placeholder="username" ng-model="signUp.username" /></p>
        <p><b>Email: </b><input type="email" placeholder="email" ng-model="signUp.email" /></p>
        <p><b>Password: </b><input type="password" placeholder="password" ng-model="signUp.password" /></p>
        <p><b>Confirm Password: </b><input type="password" placeholder="confirm password" ng-model="signUp.cpassword" /></p>
        <p><input type="button" value="signup" ng-click="signupForm()" /></p>
    </form>
</div>

<div class="link-form">
    <form>
        <input type="text" class="link-title" ng-model="s.title" placeholder="link title...." autofocus />
        <input type="text" class="link-url" ng-model="s.url" placeholder="link url...." />
        <input type="button" ng-click="submitlink()" value="submit" />
    </form>
    <ul ng-if="data">
        <li ng-repeat="link in data">{{link.title}} ({{link.url}})</li>
    </ul>
</div>