<div class="container-fluid page-box">
  <ol class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/products">Products</a></li>
    <li class="active">{{productDetails.manufacturer}}
      <span class="active" ng-if="productDetails.categoryPath[2].name == 'Tablets'">Tablet</span></li>
      <span class="active" ng-if="productDetails.categoryPath[2].name == 'Laptops'">Laptop</span></li>
      <span class="active" ng-if="productDetails.categoryPath[2].name == 'TVs'">TV</span></li>
  </ol>
  <hr />
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-7">
      <div class="thumbnail-container-detail">
        <div class="thumbnail">
					<!-- Favorite heart icon to be added later  -->
					<!--	<div class="favorited glyphicon glyphicon-heart"></div>-->
          <img ng-src={{productDetails.largeFrontImage}}>
					<span class="featured" ng-if="productDetails.myPick">Featured!</span>
        </div>
      </div>
    </div>
    
    <div class="col-lg-7 col-md-6 col-sm-5">
      <div class="white-bg">
				<h4>{{productDetails.name}}</h4>
        <h4 class="red-price">{{productDetails.salePrice | currency}}</h4>
        <hr />
        <a href="{{productDetails.addToCartUrl}}" class="btn btn-primary cart-button">add to best buy cart</a>
      </div>
      <p class="clear-bg">{{productDetails.longDescription}}</p>
    </div>
    
  </div>  
</div>