body {
	padding: 50px;
}

.class1 {
	color: #06130A;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-align: left;//justify
	text-decoration: none;
	text-indent: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 0px;
}