.navbar {
	min-height: 90px;
}

.navbar-nav li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-nav li a {
	padding: 20px;
	font-size: 18px;
	font-weight: bold;
	border-right: 1px solid #ccc;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.navbar-nav li a span { font-size: 14px; text-transform: none; font-family: arial; font-weight: normal; display: block; margin: 5px 0px 0px 0px; }

.navbar-nav a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important; 
    background-color: #0383c0 !important;
}