body {
  margin: 48px auto;
  color: #424242;
}

.navbar {
  min-height: 0;
}

.navbar-inverse {
    background-color: #424242;
    border: none;
}

.navbar-inverse .navbar-brand {
  color: #fff; 
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  height: 38px;
}

h4.centered {
  margin: 5px auto 0;
}

.centered {
  text-align: center;
}

button {
  background-color: #fff;
  padding: 10px;
  border: none; 
  color: #2196F3;
  font-size: 18px;
  cursor: pointer;
}

button:hover, .selected {
  background: #2196F3;
  border: none;
  color: #fff;
  outline: 0;
}