<div class="container">
    <form ng-submit="createNewAd(details)" ng-if="userData">
    <div class="row">
        <div class="col-md-12"><h3>Create New Ad</h3>
        <div class="alert alert-danger" role="alert" ng-if="error.post">{{error.post}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        	
                <div class="form-group">
                    <label for="title">Ad Title *</label>
                    <input class="form-control" id="title" type="text" ng-model="data.title" required placeholder="Enter Title" />
                </div>
                <div class="form-group">
                    <label for="description">Ad Description * (100 letters)</label>
                    <textarea class="form-control" id="description" ng-model="data.description" required placeholder="Enter Description"></textarea>
                </div>
                <div class="form-group">
                    <label>Website Link:</label>
                    <input type="text" class="form-control" ng-model="data.website" />
                </div>
                <div class="form-group">
                    <label>Image:</label>
                    <input type="text" class="form-control" ng-model="data.image" />
                </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label for="category">Category *</label>
              <select ng-model="data.selectedItem" class="form-control" ng-options="item.name for item in services" required>
              </select>
          </div>
          <div class="form-group">
              <label for="location">City, State, Country</label>
              <input type="text" class="addressBox form-control" ng-autocomplete ng-model="data.location" options="mapOptions" details="details" required />
          </div>
        </div>
    </div>
    <div class="row">
      <button type="submit" class="form-control btn btn-primary">Submit</button>
    </div>
        </form>
</div><!-- /.container -->