// Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
    .row
      .col-md-7
        h1 Computer Not Working?
        p
          | Is your computer running slow? or may be not at all? Call us for a quick and easy quote
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
      .col-md-5
        img.img-responsive(src='https://upload.wikimedia.org/wikipedia/commons/a/aa/3-Tastenmaus_Microsoft.jpg')