<!doctype html>
<html ng-app="">
<head>
<meta charset="UTF-8">
<title>Data Binding</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
</head>

<body>
<h1>NgRepeat Example - object</h1>
    <div ng-init='fruits=[{name: "mango", quality: 5, cost: 9.99},
                  {name: "apple", quality: 4, cost: 4.99},
                  {name: "banana", quality: 3, cost: 3.99}]'>
        <input type="text" ng-model="nameText" />
        <ul ng-if="fruits.length > 0">
            <li ng-repeat="item in fruits | orderBy: '-cost' | filter:nameText">{{$index + 1}}. {{item.name}}, {{item.quality}}, {{item.cost | currency}}</li>
        </ul>
    </div>
</body>
</html>
